@model WebApp.Models.User

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/profile.css" />

    <style>
        .rating-popup {
            transform: translateY(-10vh);
            position: fixed;
            width: 100%;
            height: 110vh;
            z-index: 998;
            background-color: rgb(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
        }

        #close-button {
            background-color: rgb(0, 0, 0, 0);
            color: var(--red-search);
            font-weight: 600;
            font-size: large;
            border: none;
            width: 80%;
        }

        .rating-popup textarea {
            width: 80%;
            height: 60%;
            resize: none;
        }

        .input-area {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            z-index: 999;
            width: 500px;
            height: 400px;
            background-color: white;
            border-radius: 20px;
            padding: 10px;
        }
    </style>

</head>

<body style="background-color: white">

    <div class="sidebar">
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Edit Profile</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Personal_Info</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Account_Management</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Email_Updates</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Privacy</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Social_Media</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Interests</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Mobile_Notification</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Organizer_Subscription</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Meetup+ Subscription</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Payment Methods</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Payment Made</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Payment Received</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Apps</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">API Guide</a>
        <a href="https://youtu.be/9MCiixIkzUk?si=GS2FAVwNzU8Nzr3q">Help</a>
    </div>
    <form asp-action="Edit" asp-controller="Profile" method="post">
        <div class="rating-popup" id="rating-popup">
            <div class="input-area">
                <h3>Profile Picture Link</h3>
                <textarea type="text" name="ProfilePicture" id="text-profile"
                    placeholder="Put in your profile picture link here" maxlength="500">@Model.ProfilePicture</textarea>
                <button type="button" id="close-button">close</button>
            </div>
        </div>

        <div class="content">
            <h1 style="
            font-weight: 700;
            margin-left: 25px;
            margin-bottom: 0%;
            padding-bottom: 0%;
            ">
                Edit profile
            </h1>
            <p style="
            font-weight: 400;
            margin-left: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
            ">
                This information will appear on your public profile
            </p>
            @Html.AntiForgeryToken()
            <div class="row" style="
                justify-content: space-around;
                grid-template-columns: 1.8fr 3fr 3fr;
                width: 100%;
                ">
                <div class="column" style="margin-left: 15px; margin-right: 25px">
                    <div
                        class="flex w-full flex-col items-center space-x-0 space-y-3 md:flex-row md:space-x-6 md:space-y-0">
                        <div class="relative flex flex-col profile-container" style="height: 128px; width:128px;" >
                            <img id="profile-img" src="@Model.ProfilePicture" style="height: 128px; width:128px; border-radius: 50%;">
                        </div>
                    </div>
                </div>
                <div class="column" style="display: flex; justify-content: center; height: 13vh">
                    <button id="open-rating-popup-button" type="button" class="green-button">Upload New</button>
                </div>
                <div class="column" style="
                    display: flex;
                    justify-content: center;
                    height: 13vh;
                    justify-self: right;
                ">
                    <a href="#" class="white-button">Choose from library</a>
                </div>
            </div>
            <div class="row" style="grid-template-columns: auto">
                <div class="column" style="margin: 16px">
                    <label class="font-medium text-primary" for="custom-name"
                        style="font-weight: 500; font-weight: 16px">Name (required)</label>
                    <div class="input-container">
                        <input type="text" name="UserName" id="custom-name" autocomplete="given-name" maxlength="32"
                            placeholder="Your name" value="@Model.UserName" required/>
                        <span id="charCount">32</span>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; gap: 0px">
                <div style="padding: 0px; margin: 16px">
                    <p style="
                    margin: 0px;
                    padding: 0px;
                    padding-bottom: 6px;
                    font-weight: 600;
                    ">
                        Your Email Address
                    </p>
                    <p style="
                    margin: 0px;
                    padding: 0px;
                    padding-bottom: 6px;
                    color: #707070;
                    ">
                        @Model.Email
                    </p>
                    <br />
                    <p style="margin: 0px; padding: 0px; font-weight: 500">
                        Edit Address
                    </p>
                    <div class="input-container">
                        <input type="text" name="Address" id="custom-name" autocomplete="given-name" maxlength="250"
                            placeholder="Your Address" value="@Model.Address" />
                        <span id="charCount"></span>
                    </div>
                </div>
            </div>
            <div class="row" style="grid-template-columns: auto">
                <div class="column" style="margin: 16px">
                    <label class="font-medium text-primary" for="custom-name"
                        style="font-weight: 500; font-weight: 16px">Bio</label>
                    <div class="input-container-bio">
                        <textarea type="text" name="Bio" id="custom-name-ta" autocomplete="given-name" maxlength="100"
                            placeholder="Write a little bit of yourself here"
                            style="text-align: left; line-break: auto; resize: none; height: 150px;">@Model.Bio</textarea>
                        <span id="charCount_textarea">100</span>
                    </div>
                </div>
            </div>
            <div class="row" style="grid-template-columns: auto">
                <div class="column" style="margin: 16px">
                    <label class="font-medium text-primary" for="custom-name"
                        style="font-weight: 500; font-weight: 16px">Social media</label>
                    <div class="input-container-social">
                        <textarea type="text" name="Contact" id="custom-name-ta" autocomplete="given-name"
                            maxlength="250" placeholder="Write a little bit of yourself here"
                            style="text-align: left; line-break: auto; resize: none; height: 100px;">@Model.Contact</textarea>
                        <span id="charCount"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="orange-button" style="margin: 15px;">Save Changes</button>
        </div>
    </form>

    <script>
        let closeButton = document.getElementById("close-button");
        let ratingPopup = document.getElementById("rating-popup");
        let profileImg = document.getElementById("profile-img");
        let textProfile = document.getElementById("text-profile");
        closeButton.onclick = (e) => {
            ratingPopup.style.display = "none";
            profileImg.src = textProfile.value;
        }

        let openButton = document.getElementById("open-rating-popup-button");
        openButton.onclick = (e) => {
            ratingPopup.style.display = "flex";
        }

    </script>
    <script>
        const inputField = document.getElementById("custom-name");
        const charCount = document.getElementById("charCount");

        inputField.addEventListener("input", function () {
            const remainingChars = 32 - this.value.length;
            charCount.textContent = remainingChars;
        });

        const textareaField = document.getElementById("custom-name-ta");
        const charCount_textarea = document.getElementById("charCount_textarea");

        textareaField.addEventListener("input", function () {
            const remainingChars = 100 - this.value.length;
            charCount_textarea.textContent = remainingChars;
        });

        window.onload = function () {
            var userName = "@Model.UserName";
            document.getElementById('initial-letter').textContent = userName.charAt(0);
        };

    </script>
</body>

</html>
