@model User

<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/profile.css" />
</head>

<body>

  <div class="profile-container">
    <div class="row" style="width: 85%; justify-content: center; gap: 30px; margin-top: 30px;">
      <div class="column column-left"
        style="width: 32%; flex-wrap: wrap; flex-shrink: 0; flex-basis: 450px; gap: 30px;">
        <div class="profile_card profile-top">
          <div class="content_wrapper">
            <div class="profile_image"
              style="background-image: url('@(Model.ProfilePicture != null ? Model.ProfilePicture : Url.Content("~/src/image_.png"))')">
              <div class="image_text">
                <h1>@Model.UserName</h1>
                <p>@Model.Email</p>
                <p>@Model.Address</p>
              </div>
            </div>
            <div class="profile-stats">
              <div>
                <div class="profile-statsh3">3</div>
                <div class="profile-statp">Groups</div>
              </div>
              <div style="
                    display: flexbox;
                    border: #e2e4e6;
                    border-style: solid;
                    border-top-style: none;
                    border-bottom-style: none;
                    border-width: 1px;
                    padding-left: 48px;
                    padding-right: 48px;
                    height: fit-content;
                  ">
                <div class="profile-statsh3">5</div>
                <div class="profile-statp">Interests</div>
              </div>
              <div>
                <div class="profile-statsh3">0</div>
                <div class="profile-statp">RSVPs</div>
              </div>
            </div>
          </div>
          @if (ViewData["isProfileOwner"] != null)
            {
            <a class="change-photo" href="@Url.Action("Edit", "Profile" , new { id=Model.Id })">
              <svg class="info-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path opacity="0.15" d="M4 20H8L18 10L14 6L4 16V20Z" fill="#FFFFFF"></path>
                  <path d="M12 20H20.5M18 10L21 7L17 3L14 6M18 10L8 20H4V16L14 6M18 10L14 6" stroke="#FFFFFF"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                  </path>
                </g>
              </svg>
              <span class="change-text" style="color: white;">Change profile photo</span>
            </a>
            }
        </div>

        <div class="profile_card profile-bottom">
          <div class="grid_container" style="justify-content: left; align-items: center">
            <div class="column" style="margin: 8px; margin-left: 36px; margin-right: 12px;">
              <div class="flex w-full flex-col items-center space-x-0 space-y-3 md:flex-row md:space-x-6 md:space-y-0">
                <div class="relative flex flex-col">
                  <svg role="presentation" viewBox="0 0 75 74" version="1.1" width="64" height="64"
                    class="min-w-[128px] rounded-full border border-gray2">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g transform="translate(-750.000000, -109.000000)">
                        <g
                          transform="translate(787.926915, 146.475953) rotate(-120.000000) translate(-787.926915, -146.475953) translate(750.426915, 110.475953)">
                          <g transform="translate(0.350000, 0.000000)">
                            <path
                              d="M35.66773,0.88851 C16.15488,0.88851 0.33628,16.70676 0.33628,36.21961 C0.33628,55.73246 16.15488,71.55106 35.66773,71.55106 C55.18093,71.55106 70.99918,55.73246 70.99918,36.21961 C70.99918,16.70676 55.18093,0.88851 35.66773,0.88851 L35.66773,0.88851 Z"
                              fill="#F1A080"></path>
                            <path
                              d="M38.117625,0.188335 C18.604775,0.188335 2.786525,16.006935 2.786525,35.519785 C2.786525,55.032635 18.604775,70.850885 38.117625,70.850885 C57.630825,70.850885 73.449075,55.032635 73.449075,35.519785 C73.449075,16.006935 57.630825,0.188335 38.117625,0.188335 Z"
                              stroke="#353E48" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <text id="initial-letter" class="select-none" transform="rotate(120 38,36)" x="50%" y="50%"
                              text-anchor="middle" fill="#333E48" font-size="30px" dy=".3em">
                              K
                            </text>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            <div style="
                  display: flex;
                  flex-direction: column;
                  text-align: left;
                  height: max-content;
                  padding: 0%;
                  margin: 0%;
                ">
              <div style="text-align: left">@Model.UserName</div>
              @if (ViewData["isProfileOwner"] != null)
              {
                <div style="text-align: left; color: rgb(250, 59, 6);">
                  <a href="@Url.Action("Edit", "Profile", new { id = Model.Id })">Edit profile</a>
                </div>
              }
            </div>
            <div style="text-align: left"></div>
            <div style="text-align: left"></div>
          </div>
        </div>
      </div>
      <div class="column column-right" style="
            display: flex;
            flex-wrap: wrap;
            flex-shrink: 2;
            height: fit-content;
            width: 68%;
            gap: 30px;
          ">
        <div class="profile_card" style="height: 16%; display: flex; flex-direction: column; max-width: 100%;">
          <div class="row" style="display: flex; flex-wrap: wrap; align-items: left">
            <h3 style="
                  padding-left: 1.5rem;
                  padding-top: 0.25rem;
                  margin-bottom: 0.8rem;
                  font-size: 22px;
                  font-weight: 640;
                ">
              My interests
            </h3>
          </div>
          <div class="row" style="
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding-left: 1.5rem;
                padding-top: 0.25rem;
                margin-bottom: 1rem;
                width: fit-content;
              ">
            <div class="column">
              <a class="mini-card" data-event-label="self_profile_interest_click" target="_blank"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb2xs">Open Source</a>
            </div>
            <div class="column">
              <a class="mini-card" data-event-label="self_profile_interest_click" target="_blank"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb2xs">Data
                Visualization</a>
            </div>
            <div class="column">
              <a class="mini-card" data-event-label="self_profile_interest_click" target="_blank"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb2xs">Technology
                Startups</a>
            </div>
            <div class="column">
              <a class="mini-card" data-event-label="self_profile_interest_click" target="_blank"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb2xs">Big Data</a>
            </div>
            <div class="column">
              <a class="mini-card" data-event-label="self_profile_interest_click" target="_blank"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb2xs">Data
                Analytics</a>
            </div>
          </div>
        </div>
        <div class="profile_card">
          <a href="@Url.Action("Index", "YourEvent")" style="text-decoration: underline; color: inherit;">
            <h3 style="
                padding-left: 1.5rem;
                padding-top: 0.25rem;
                margin-bottom: 0.8rem;
                font-size: 22px;
                font-weight: 640;
                color: rgb(0, 0, 0);
                background-color: #ff7b0080;
                padding-bottom: 6px;
                padding-right: 10px;
                line-height: 24px;
                box-shadow: 3px 4px rgb(255, 202, 202);
            ">
              Event
            </h3>
          </a>
          <div class="profile-container" data-testid="groups-container" style="position: relative;">
            <div class="profile_card_group">
              <div class="row">
                <div class="column">
                  <div class="profile_image_group">
                    <a href="https://www.meetup.com/startup-agile-bangkok/" class="mr-4 axsr06e"
                      data-event-label="self_profile_group_click"><img
                        alt="Photo of Startup Agile group - Bangkok group" data-testid="next-image" loading="lazy"
                        width="120" height="72" decoding="async" data-nimg="1" class="h-[72px] rounded-lg" srcset="
                            https://secure-content.meetupstatic.com/images/classic-events/477573276/120x72.jpg?w=120?w=128 1x,
                            https://secure-content.meetupstatic.com/images/classic-events/477573276/120x72.jpg?w=120?w=256 2x
                          "
                        src="https://secure-content.meetupstatic.com/images/classic-events/477573276/120x72.jpg?w=120?w=256"
                        style="color: transparent" /></a>
                  </div>
                </div>
                <div class="column">
                  <a href="https://www.meetup.com/startup-agile-bangkok/"
                    class="ds-font-body-medium block hover:no-underline"
                    data-event-label="self_profile_group_click">Startup Agile group - Bangkok</a>
                  <div class="ds-font-small mb-2 text-secondary">Member</div>
                  <a class="ds-font-small-medium underline" data-event-label="self_profile_membership_details_click"
                    href="https://www.meetup.com/members/413796513/group/21629158/">Membership
                    details</a>
                </div>
              </div>
            </div>
            <div class="profile_card_group">
              <div class="row" style="flex-grow: 1;">
                <div class="column">
                  <div class="profile_image_group">
                    <a href="https://www.meetup.com/bkkhack/" class="mr-4 axsr06e"
                      data-event-label="self_profile_group_click"><img
                        alt="Photo of BKK/hack – Code, Make, Learn, Share group" data-testid="next-image" loading="lazy"
                        width="120" height="72" decoding="async" data-nimg="1" class="h-[72px] rounded-lg" srcset="
                            https://secure-content.meetupstatic.com/images/classic-events/511725956/120x72.jpg?w=120?w=128 1x,
                            https://secure-content.meetupstatic.com/images/classic-events/511725956/120x72.jpg?w=120?w=256 2x
                          "
                        src="https://secure-content.meetupstatic.com/images/classic-events/511725956/120x72.jpg?w=120?w=256"
                        style="color: transparent" /></a>
                  </div>
                </div>
                <div class="column">
                  <div>
                    <a href="https://www.meetup.com/bkkhack/" class="ds-font-body-medium block hover:no-underline"
                      data-event-label="self_profile_group_click">BKK/hack – Code, Make, Learn,
                      Share</a>
                    <div class="ds-font-small mb-2 text-secondary">
                      Member
                    </div>
                    <a class="ds-font-small-medium underline" data-event-label="self_profile_membership_details_click"
                      href="https://www.meetup.com/members/413796513/group/18594486/">Membership
                      details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <footer id="main_footer" role="contentinfo" class="z-0 bg-gray7 pt-4 text-gray1 xs:mt-0" data-event-label="Footer">
    <div class="px-6 sm:px-4 xl:px-0 md:max-w-screen mx-auto my-0 flex flex-col space-y-6 pb-4">
      <!-- Footer content here -->
    </div>
  </footer>

  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }

    window.onload = function () {
      var userName = "@Model.UserName";
      document.getElementById('initial-letter').textContent = userName.charAt(0);
    };

  </script>
</body>

</html>
