@model WebApp.Models.User

<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/profile.css" />
</head>

<body>

  <div class="profile-container">
    <div class="row">
      <div class="column column-left" style="width: 32%; flex-wrap: wrap; flex-shrink: 0; flex-basis: 450px">
        <div class="profile_card profile-top">
          <div class="content_wrapper">
            <div class="profile_image"
              style="background-image: url('@(Model.ProfilePicture != null ? Model.ProfilePicture : Url.Content("~/images/placeholder.png"))')">
              <div class="image_text">
                <h1>@Model.UserName</h1>
                <p>@Model.Email</p>
                @* <p>@Model.Address</p>
                <p>@Model.JoinDate</p> *@
              </div>
            </div>
            <div class="profile-stats">
              <div>
                <div class="profile-statsh3">3</div>
                <div class="profile-statp">Groups</div>
              </div>
              <div style="
                    display: flexbox;
                    border: #e2e4e6;
                    border-style: solid;
                    border-top-style: none;
                    border-bottom-style: none;
                    border-width: 1px;
                    padding-left: 48px;
                    padding-right: 48px;
                    height: fit-content;
                  ">
                <div class="profile-statsh3">5</div>
                <div class="profile-statp">Interests</div>
              </div>
              <div>
                <div class="profile-statsh3">0</div>
                <div class="profile-statp">RSVPs</div>
              </div>
            </div>
          </div>

          <a class="change-photo" href="https://youtu.be/dQw4w9WgXcQ?si=T_nwjD1f4B8HGSwT">
            <svg class="info-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path opacity="0.15" d="M4 20H8L18 10L14 6L4 16V20Z" fill="#FFFFFF"></path>
                <path d="M12 20H20.5M18 10L21 7L17 3L14 6M18 10L8 20H4V16L14 6M18 10L14 6" stroke="#FFFFFF"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                </path>
              </g>
            </svg>
            <span class="change-text">Change profile photo</span>
          </a>
        </div>

        <div class="profile_card profile-bottom">
          <div class="grid_container" style="justify-content: left; align-items: center">
            <div class="edit_profile_image" style="
                  margin-left: 20px;
                  padding-top: 16px;
                  padding-bottom: 16px;
                ">
              <img src="edit_profile-removebg-preview.png" alt="edit_profile_image" width="74px" height="66px" />
            </div>
            <div style="
                  display: flex;
                  flex-direction: column;
                  text-align: left;
                  height: max-content;
                  padding: 0%;
                  margin: 0%;
                ">
              <div style="text-align: left">User123</div>
              <div style="text-align: left">
                <a href="@Url.Action("Edit", "Profile", new { id = Model.Id })">Edit profile</a>

              </div>
            </div>
            <div style="text-align: left"></div>
            <div style="text-align: left"></div>
          </div>
        </div>
      </div>
      <div class="column column-right" style="
            display: flex;
            flex-wrap: wrap;
            height: fit-content;
            width: 68%;
          ">
        <div class="profile_card" style="height: 16%; display: flex; flex-direction: column;">
          <div class="row" style="display: flex; flex-wrap: wrap; align-items: left">
            <h3 style="
                  padding-left: 1.5rem;
                  padding-top: 0.25rem;
                  margin-bottom: 0.8rem;
                  font-size: 22px;
                  font-weight: 640;
                ">
              My interests
            </h3>
          </div>
          <div class="row" style="
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding-left: 1.5rem;
                padding-top: 0.25rem;
                margin-bottom: 1rem;
              ">
            <div class="column">
              <a class="mini-card" data-event-label="self_profile_interest_click" target="_blank"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb2xs">Open Source</a>
            </div>
            <div class="column">
              <a class="mini-card" data-event-label="self_profile_interest_click" target="_blank"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb2xs">Data
                Visualization</a>
            </div>
            <div class="column">
              <a class="mini-card" data-event-label="self_profile_interest_click" target="_blank"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb2xs">Technology
                Startups</a>
            </div>
            <div class="column">
              <a class="mini-card" data-event-label="self_profile_interest_click" target="_blank"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb2xs">Big Data</a>
            </div>
            <div class="column">
              <a class="mini-card" data-event-label="self_profile_interest_click" target="_blank"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb2xs">Data
                Analytics</a>
            </div>
          </div>
        </div>
        <div class="profile_card">
          <h3 style="
                padding-left: 1.5rem;
                padding-top: 0.25rem;
                margin-bottom: 0.8rem;
                font-size: 22px;
                font-weight: 640;
              ">
            Groups
          </h3>
          <div class="profile-container" data-testid="groups-container">
            <div class="profile_card_group">
              <div class="row">
                <div class="column">
                  <div class="profile_image_group">
                    <a href="https://www.meetup.com/startup-agile-bangkok/" class="mr-4 axsr06e"
                      data-event-label="self_profile_group_click"><img
                        alt="Photo of Startup Agile group - Bangkok group" data-testid="next-image" loading="lazy"
                        width="120" height="72" decoding="async" data-nimg="1" class="h-[72px] rounded-lg" srcset="
                            https://secure-content.meetupstatic.com/images/classic-events/477573276/120x72.jpg?w=120?w=128 1x,
                            https://secure-content.meetupstatic.com/images/classic-events/477573276/120x72.jpg?w=120?w=256 2x
                          "
                        src="https://secure-content.meetupstatic.com/images/classic-events/477573276/120x72.jpg?w=120?w=256"
                        style="color: transparent" /></a>
                  </div>
                </div>
                <div class="column">
                  <a href="https://www.meetup.com/startup-agile-bangkok/"
                    class="ds-font-body-medium block hover:no-underline"
                    data-event-label="self_profile_group_click">Startup Agile group - Bangkok</a>
                  <div class="ds-font-small mb-2 text-secondary">Member</div>
                  <a class="ds-font-small-medium underline" data-event-label="self_profile_membership_details_click"
                    href="https://www.meetup.com/members/413796513/group/21629158/">Membership
                    details</a>
                </div>
              </div>
            </div>
            <!-- <div class="profile_card_group">
                <div class="row">
                  <div class="column">
                    <div class="profile_image_group">
                      <a
                        href="https://www.meetup.com/techgrind/"
                        class="mr-4 axsr06e"
                        data-event-label="self_profile_group_click"
                        ><img
                          alt="Photo of TechGrind group"
                          data-testid="next-image"
                          loading="lazy"
                          width="120"
                          height="72"
                          decoding="async"
                          data-nimg="1"
                          class="h-[72px] rounded-lg"
                          srcset="
                            https://secure-content.meetupstatic.com/images/classic-events/467074254/120x72.jpg?w=120?w=128 1x,
                            https://secure-content.meetupstatic.com/images/classic-events/467074254/120x72.jpg?w=120?w=256 2x
                          "
                          src="https://secure-content.meetupstatic.com/images/classic-events/467074254/120x72.jpg?w=120?w=256"
                          style="color: transparent"
                      /></a>
                    </div>
                  </div>
                  <div class="column">
                    <div>
                      <a
                        href="https://www.meetup.com/techgrind/"
                        class="ds-font-body-medium block hover:no-underline"
                        data-event-label="self_profile_group_click"
                        >TechGrind</a
                      >
                      <div class="ds-font-small mb-2 text-secondary">
                        Member
                      </div>
                      <a
                        class="ds-font-small-medium underline"
                        data-event-label="self_profile_membership_details_click"
                        href="https://www.meetup.com/members/413796513/group/7866322/"
                        >Membership details</a
                      >
                    </div>
                  </div>
                </div>
              </div> -->
            <div class="profile_card_group">
              <div class="row">
                <div class="column">
                  <div class="profile_image_group">
                    <a href="https://www.meetup.com/bkkhack/" class="mr-4 axsr06e"
                      data-event-label="self_profile_group_click"><img
                        alt="Photo of BKK/hack – Code, Make, Learn, Share group" data-testid="next-image" loading="lazy"
                        width="120" height="72" decoding="async" data-nimg="1" class="h-[72px] rounded-lg" srcset="
                            https://secure-content.meetupstatic.com/images/classic-events/511725956/120x72.jpg?w=120?w=128 1x,
                            https://secure-content.meetupstatic.com/images/classic-events/511725956/120x72.jpg?w=120?w=256 2x
                          "
                        src="https://secure-content.meetupstatic.com/images/classic-events/511725956/120x72.jpg?w=120?w=256"
                        style="color: transparent" /></a>
                  </div>
                </div>
                <div class="column">
                  <div>
                    <a href="https://www.meetup.com/bkkhack/" class="ds-font-body-medium block hover:no-underline"
                      data-event-label="self_profile_group_click">BKK/hack – Code, Make, Learn,
                      Share</a>
                    <div class="ds-font-small mb-2 text-secondary">
                      Member
                    </div>
                    <a class="ds-font-small-medium underline" data-event-label="self_profile_membership_details_click"
                      href="https://www.meetup.com/members/413796513/group/18594486/">Membership
                      details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- <a
                class="profile_card_group"
                target="_blank"
                data-event-label="profile_discover_groups_click"
                href="https://www.meetup.com/find/?source=GROUPS"
              >
                <div class="row">
                  <div class="column">
                    <div
                      style="width: 20px; height: 20px"
                      data-icon-c="icon-275"
                    >
                      <div>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          class="injected-svg text-white fill-current"
                          data-src="https://secure.meetupstatic.com/next/images/design-system-icons/search-outline.svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          style="
                            width: 20px;
                            height: 20px;
                            width: 20px;
                            height: 20px;
                          "
                          data-icon="icon-275"
                        >
                          <title>icon</title>
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.5 10.5C16.5 13.8137 13.8137 16.5 10.5 16.5C7.18629 16.5 4.5 13.8137 4.5 10.5C4.5 7.18629 7.18629 4.5 10.5 4.5C13.8137 4.5 16.5 7.18629 16.5 10.5ZM18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5ZM16.4697 17.5303L15.9568 17.0174C16.3407 16.6957 16.6957 16.3407 17.0174 15.9568L17.5303 16.4697L20.5303 19.4697C20.8232 19.7626 20.8232 20.2374 20.5303 20.5303C20.2374 20.8232 19.7626 20.8232 19.4697 20.5303L16.4697 17.5303Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="flex-1">
                    <p class="ds-font-body-medium">Join more groups</p>
                    <p class="text-secondary ds-font-tiny">
                      Discover communities near you
                    </p>
                  </div>
                </div>
                <img
                  alt="discover groups"
                  loading="lazy"
                  width="64"
                  height="80"
                  decoding="async"
                  data-nimg="1"
                  class="relative ml-auto h-[80px] w-[64px] overflow-hidden xl:h-[96px] xl:w-[410px]"
                  srcset="
                    /_next/image/?url=%2Fimages%2Fmember-profile%2Fdiscover-mobile.webp&amp;w=64&amp;q=75  1x,
                    /_next/image/?url=%2Fimages%2Fmember-profile%2Fdiscover-mobile.webp&amp;w=128&amp;q=75 2x
                  "
                  src="/_next/image/?url=%2Fimages%2Fmember-profile%2Fdiscover-mobile.webp&amp;w=128&amp;q=75"
                  style="color: transparent"
                />
              </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="main_footer" role="contentinfo" class="z-0 bg-gray7 pt-4 text-gray1 xs:mt-0" data-event-label="Footer">
    <div class="px-6 sm:px-4 xl:px-0 md:max-w-screen mx-auto my-0 flex flex-col space-y-6 pb-4">
      <!-- Footer content here -->
    </div>
  </footer>

  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
</body>

</html>
