@model YourEventViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Event</title>
    <link rel="stylesheet" href="~/css/YourEvent.css"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="primary-container">
        <div class="your-event-container">
            <div class="left">
                <div class="header-small"><h1>Your Events</h1></div>
                <div class="categories">
                    <label class="category-button" id="category-1">Attending</label>
                    <label class="category-button" id="category-2">Hosting</label>
                    <label class="category-button" id="category-3">Past</label>
                    
                </div>
                <div class="calendar">
                    <!-- Seriously -->
                </div>
            </div>
            <div class="right">
                <div class="your-event-displayer">
                    <div class="header-large"><h1>Your Events</h1></div>
                    <div id="event-display">

                    @if(Model.AttendEvent.Count > 0)
                    {
                        @foreach(var Event in Model.AttendEvent)
                        {
                        <div class="events-container">
                            <div class="event">
                                <a href= "@Url.Action("ViewId", "EventPage", new { id = @Event.Id })" class="event-image">
                                    <img src="@Event.EventImg" alt="Event Image">
                                </a>
                                <div class="event-info">
                                    <a href= "@Url.Action("ViewId", "EventPage", new { id = @Event.Id })" class="event-title" class="event-title">@Event.EventName</a>
                                    <div class="event-date">@Event.StartDate</div>
                                </div>
                            </div>
                        </div>
                        }
                    }
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <script>
        let eventDisplayer = document.getElementById("your-event-displayer");
        let category1 = document.getElementById("category-1");
        let category2 = document.getElementById("category-2");
        let category3 = document.getElementById("category-3");
        let categories = [category1, category2, category3];
        
        function changeEventType(categoryNum){
            document.getElementById("event-display").innerHTML = "";
            if(categoryNum === 0)
            {
                document.getElementById("event-display").innerHTML =`
                 @if(Model.AttendEvent.Count > 0)
                {
                    @foreach(var Event in Model.AttendEvent)
                    {
                    <div class="events-container">
                        <div class="event">
                            <a href= "@Url.Action("ViewId", "EventPage", new { id = @Event.Id })" class="event-image">
                                <img src="@Event.EventImg" alt="Event Image">
                            </a>
                            <div class="event-info">
                                <a href= "@Url.Action("ViewId", "EventPage", new { id = @Event.Id })"  class="event-title">@Event.EventName</a>
                                <div class="event-date">@Event.StartDate</div>
                            </div>
                        </div>
                    </div>
                    }
                }`
            }
            else if(categoryNum === 1)
            {
                document.getElementById("event-display").innerHTML =`
                 @if(Model.HostEvent.Count > 0)
                {
                    @foreach(var Event in Model.HostEvent)
                    {
                    <div class="events-container">
                        <div class="event">
                            <a href= "@Url.Action("ViewId", "EventPage", new { id = @Event.Id })" class="event-image">
                                <img src="@Event.EventImg" alt="Event Image">
                            </a>
                            <div class="event-info">
                                <a href= "@Url.Action("ViewId", "EventPage", new { id = @Event.Id })" class="event-title">@Event.EventName</a>
                                <div class="event-date">@Event.StartDate</div>
                                <div class="button-container">
                                    <button onclick="window.location.href = '@Url.Action("Edit", "Event", new { id = @Event.Id })'" class="edit-btn">Edit</button>
                                    <button class="cancle-btn">Cancle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                }`
            }
            else
            {
                document.getElementById("event-display").innerHTML =`
                 @if(Model.PastEvent.Count > 0)
                {
                    @foreach(var Event in Model.PastEvent)
                    {
                    <div class="events-container">
                        <div class="event">
                            <a href= "@Url.Action("ViewId", "EventPage", new { id = @Event.Id })" class="event-title">
                                <img src="@Event.EventImg" alt="Event Image">
                            </a>
                            <div class="event-info">
                                <a href= "@Url.Action("ViewId", "EventPage", new { id = @Event.Id })" class="event-title">@Event.EventName</a>
                                <div class="event-date">@Event.StartDate</div>
                            </div>
                        </div>
                    </div>
                    }
                }`
            }
            // some logic to fetch events here
            categories.forEach((element, i)=>{
                if(i === categoryNum) categories[i].style.color = "var(--cyan-button)";
                else categories[i].style.color = "black";
            });
        }
        
        categories.forEach((element, i)=>{
            element.onclick = ()=>{changeEventType(i)};
        });

    </script>
</body>
</html>