@model List<Event>
@{
    ViewData["title"] = "Search";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/search.css" type="text/css" />
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/f907d90de1.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="primary-container">
        <div class="content-container">
            <div class="TopPage">
                <h1>Event near Bangkok, TH</h1>
                <nav role="primary navigation" class="primary-navigation">
                    <div class="dropdown">
                        <a href="#" onclick="return false;" class="dropdown-action">
                            <span id="day">Any day</span>
                            <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24">
                                <title>chevron-down</title>
                                <g fill="none">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                        d="M15.25 10.75L12 14.25l-3.25-3.5"></path>
                                </g>
                            </svg></a>

                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="return false;" id="Any"> Any day </a></li>
                            <li><a href="#" onclick="return false;" id="Today"> Today </a></li>
                            <li><a href="#" onclick="return false;" id="This week"> This week </a></li>
                            <li><a href="#" onclick="return false;" id="Next week"> Next week </a></li>
                    </div>

                    <div class="dropdown">
                        <a href="#" onclick="return false;" class="dropdown-action type">
                            <span id="type">Any type</span>
                            <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24">
                                <title>chevron-down</title>
                                <g fill="none">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                        d="M15.25 10.75L12 14.25l-3.25-3.5"></path>
                                </g>
                            </svg></a>

                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="return false;" id="any">Any type</a></li>
                            <li><a href="#" onclick="return false;" id="Online">Online</a></li>
                            <li><a href="#" onclick="return false;" id="Indoor">Indoor only</a></li>
                            <li><a href="#" onclick="return false;" id="Outdoor">Outdoor only</a></li>
                            <li><a href="#" onclick="return false;" id="Storytelling">Storytelling</a></li>
                        </ul>
                    </div>

                    <div class="dropdown">
                    <a href="#" onclick="return false;" class="dropdown-action">
                        <span id="status">Any status</span>
                    <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <title>chevron-down</title>
                    <g fill="none">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M15.25 10.75L12 14.25l-3.25-3.5"></path>
                    </g>
                    </svg></a>

                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="return false;" id="Any">Any status</a></li>
                        <li><a href="#" onclick="return false;" id="Available">Available</a></li>
                        <li><a href="#" onclick="return false;" id="Full">Full</a></li>
                        <li><a href="#" onclick="return false;" id="Past">Past</a></li>
                        <li><a href="#" onclick="return false;" id="Closed">Closed</a></li>
                        <li><a href="#" onclick="return false;" id="Cancelled">Cancelled</a></li>
                    </ul>
                    </div>

                    <div class="dropdown">
                        <a href="#" onclick="return false;" class="dropdown-action category">
                            <span id="category">Any category</span>
                            <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24">
                                <title>chevron-down</title>
                                <g fill="none">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                        d="M15.25 10.75L12 14.25l-3.25-3.5"></path>
                                </g>
                            </svg></a>

                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="return false;" id="Any">Any category</a></li>
                            <li><a href="#" onclick="return false;" id="Art & Culture">Art & Culture</a></li>
                            <li><a href="#" onclick="return false;" id="Career & Business">Career & Business</a></li>
                            <li><a href="#" onclick="return false;" id="Community & Environment">Community & Environment</a></li>
                            <li><a href="#" onclick="return false;" id="Dancing">Dancing</a></li>
                            <li><a href="#" onclick="return false;" id="Games">Games</a></li>
                            <li><a href="#" onclick="return false;" id="Health & Wellbeing">Health & Wellbeing</a></li>
                            <li><a href="#" onclick="return false;" id="Hobbies & Pasion">Hobbies & Pasion</a></li>
                            <li><a href="#" onclick="return false;" id="Identity & Languages">Identity & Languages</a></li>
                            <li><a href="#" onclick="return false;" id="Music">Music</a></li>
                            <li><a href="#" onclick="return false;" id="Parents & Family">Parents & Family</a></li>
                            <li><a href="#" onclick="return false;" id="Pet & Animals">Pet & Animals</a></li>
                            <li><a href="#" onclick="return false;" id="Religion & Spirituality">Religion & Spirituality</a></li>
                            <li><a href="#" onclick="return false;" id="Science & Education">Science & Education </a></li>
                            <li><a href="#" onclick="return false;" id="Shabu">Shabu </a></li>
                            <li><a href="#" onclick="return false;" id="Social Activities">Scial Activities</a></li>
                            <li><a href="#" onclick="return false;" id="Sports & Fitness">Sports & Fitness</a></li>
                            <li><a href="#" onclick="return false;" id="Support & Coaching">Support & Coaching</a></li>
                            <li><a href="#" onclick="return false;" id="Technology">Technology</a></li>
                            <li><a href="#" onclick="return false;" id="Travel & Outdoor">Travel & Outdoor</a></li>
                            <li><a href="#" onclick="return false;" id="Writing">Writing</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a href="#" onclick="return false;" class="dropdown-action">
                            Sort by:&nbsp;
                            <span id="sort">Newest</span>
                            <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24">
                                <title>chevron-down</title>
                                <g fill="none">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                        d="M15.25 10.75L12 14.25l-3.25-3.5"></path>
                                </g>
                            </svg>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="return false;" id="Newest">Newest</a></li>
                            <li><a href="#" onclick="return false;" id="Oldest">Oldest</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </nav>
    <div class="display-paragraph">
        <div class="card-container left">
            @foreach (var ev in Model)
            {
            <div class="card">
                <a href="/eventpage/viewid/@ev.Id" class="image">
                    <img class="img" src="@ev.EventImg" alt="@ev.EventName" />
                </a>
                <div class="details">
                    <div class="date">
                        <div>@ev.EventEndDate</div>
                    </div>
                    <div class="header">
                        <a href="/eventpage/viewid/@ev.Id">
                            <div class="h2">@ev.EventName</div>
                        </a>
                        <div class="sub-header">
                            <div class="paragraph">@ev.EventDetails</div>
                            <div class="share-attend">
                                <div class="attendee">@ev.CurrentMember Attendees</div>
                                <div class="share"><i class="fa-solid fa-upload"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
                @* <div class="right">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d33638.91694318745!2d100.75255949943718!3d13.721249729251394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d664988a1bedf%3A0xcc678f180e221cd0!2sKing%20Mongkut&#39;s%20Institute%20of%20Technology%20Ladkrabang!5e0!3m2!1sen!2sth!4v1709287309577!5m2!1sen!2sth"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div> *@
        </div>
    </div>
            <script src="~/js/search.js"></script>
</body>
</html>