@model List<Event>
@{
    ViewData["title"] = "Search";
    Layout ="";
}
@foreach (var ev in Model)
{
<div class="card">
    <a href="/eventpage/viewid/@ev.Id" class="image">
        <img class="img" src="@ev.EventImg" alt="@ev.EventName" />
    </a>
    <div class="details">
        <div class="date">
            <div>@ev.EndDate</div>
        </div>
        <div class="header">
            <a href="/eventpage/viewid/@ev.Id">
                <div class="h2">@ev.EventName</div>
            </a>
            <div class="sub-header">
                <div class="paragraph">@ev.EventDetails</div>
                <div class="share-attend">
                    <div class="attendee">@ev.CurrentMember Attendees</div>
                    <div class="share"><i class="fa-solid fa-upload"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
}